* {

    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

html,
body {

    height: 100%;
    width: 100%;

}

#main {

    width: 100%;
    background-color: #f6f6ee;

}

#nav {

    width: 100%;
    height: 15vh;
    /* background-color: #f6f6ee; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 4vw;

}

#links i {
    display: none;
}

#nav #links {

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 3.5vw;

}

#links a {

    text-decoration: none;
    font-weight: 900;
    font-size: 0.9vw;

}

#links a:hover {
    text-decoration: underline;
}

#nav h2 {

    text-transform: uppercase;
    font-weight: 400;

}

#nav h2 span {

    font-weight: 600;

}

#heading {

    width: 100%;
    height: 40vh;
    /* background-color: #f6f6ee; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

}

#heading h1 {

    font-size: 2.8vw;

}

#heading p {

    width: 50%;
    text-align: center;
    margin: 1.5vw 0;

}

#heading button {

    padding: 1vw 2vw;
    background-color: #fff;
    border-radius: 5vw;

}

#illus {

    width: 100%;

}

#illus img {

    width: 100%;

}

#details {

    width: 100%;
    margin-top: 4vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10vw 5vw;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

}

#details #d-left {

    width: 48%;
    border-right: solid 2px #000;
    padding-right: 3vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;

}

#details #d-left #s-line {

    width: 5%;
    height: 1.5px;
    background-color: #000;
    margin: 1vw 0;

}

#details #d-left p {

    width: 40%;
    text-align: right;
    font-size: 0.8vw;

}

#details #d-right {

    width: 48%;

}

.features p {

    margin-top: 1vw;
    font-size: 0.8vw;
    width: 35%;

}

#d-right .features img {

    height: 4vw;
    width: 4vw;

}

.features .feat-prt {

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2.5vw;

}

.features .f-details {

    margin-left: 2vw;

}

@media (max-width:800px) {

    #nav a {
        font-size: 1.5vw;
    }

    #links a:hover {
        text-decoration: none;
    }

    #heading p {
        margin: 3vw 0;
    }

    #heading button {
        padding: 1.5vw 2.5vw;
    }

    #details #d-left #s-line {
        width: 8%;
        margin: 2vw 0;
    }

    #details #d-left p {
        width: 70%;
        font-size: 1.5vw;
    }

    .features p {
        margin-top: 2vw;
        font-size: 1.5vw;
        width: 60%;
    }

}

@media (max-width:600px) {

    #links a {
        display: none;
    }

    #links a:hover {
        text-decoration: none;
    }

    #links i {
        display: block;
    }

    #heading h1 {
        font-size: 6vw;
    }

    #heading p {
        margin: 5vw 0;
        width: 75%;
    }

    #heading button {
        padding: 2vw 3vw;
    }

    #details #d-left #s-line {
        width: 8%;
        margin: 2vw 0;
    }

    #d-left h1 {
        padding-left: 10vw;
    }

    #details #d-left p {
        width: 100%;
        font-size: 2.2vw;
    }

    .features p {
        font-size: 2.2vw;
        width: 90%;
    }

}